main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body{
background-color: #eedce7;
margin: 0;
padding: 0;

}

.cerejeira-cadastro{
    width: 177px;
    rotate: -10deg;
   
}
.cerejeira-cadastro2{
    width: 158px;
    rotate: -2025deg;
   

}
.cadastro-login{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:#eec8e0;
    color:#6f3f32;
    margin: 0px auto;

}

.titulo-cadastro{
    
    height: 50px;
    width: 300px;
    background-color: #eec8e0;
    text-align: center;
    margin-left: 50px;
    
}

input{
    width: 300px;
    height: 25px;
    background-color:#eec8e0;
    box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.5);
}

.btn-cadastrar{
    background-color: #c64a67;
    color:#6f3f32;
    border: none;
}
.cadastro-login{
    border: solid;
    width: 418px;
    height: 500px;  
    box-shadow: 5px 6px 6px rgba(214, 83, 83, 0.5);
    border: none;
}

.florvadia{
   
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    
}
.titulo-cherry{
   font-size: 12px;
   text-align: center;
}

